/*abstracts*/
/*Variables */
/*Color*/
/*base*/
/*Agregar fuente*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
/*Estilo universal para evitar conflictos con Padding y margin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*Uso de Extend*/
/*Parametros generales de h3*/
.sobrenosotros .contenido-seccion h3, .servicios h3, .portfolio h3 {
  font-size: 25px;
  color: #2c88d9;
  padding: 20px 0;
  text-transform: uppercase;
  text-align: center; }

/*Parametros de  H3 de pagina nosotros*/
.contacto .contenido-seccion h3 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 100px; }

/*Parametros de letra en pagina Nosotros y Portfolio*/
.sobrenosotros .contenido-seccion p, .portfolio-texto {
  font-size: 20px;
  text-align: center; }

/*Parametros de boton contactar paginna Inicio y contacto*/
#presentacion-contenido button, .contacto .contenido-seccion .fila .col button {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  border-radius: 14px;
  background-color: #2c88d9;
  padding: 16px 20px;
  color: #fff;
  font-weight: 800;
  display: block;
  border: 2px #fff solid;
  cursor: pointer; }

footer .logoerland, #presentacion-contenido .presentacion h2 span {
  font-size: 45px;
  color: #2c88d9;
  font-family: Haettenschweiler, sans-serif;
  letter-spacing: 2px;
  font-weight: 400; }

/*layout*/
/* Seccion encabezado */
.navbar {
  padding: 0.5rem;
  background-color: #c3cfd9; }

.navbar-collapse {
  align-items: center;
  justify-content: space-between; }

.navbar .navbar-brand h1 {
  color: #2c88d9;
  font-family: Haettenschweiler, sans-serif;
  letter-spacing: 2px;
  text-align: center; }

.nav-item a {
  color: #2c88d9;
  font-weight: 400;
  font-size: 20px; }

.nav-item a:hover {
  color: #2c88d9; }

/* Seccion encabezado iconos-redes-sociales */
.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #fff;
  border-radius: 50%; }

.iconos-redes-sociales i {
  color: #fff;
  font-size: 1.2rem; }

.iconos-redes-sociales a:hover {
  border: 2px solid #2c88d9; }

.iconos-redes-sociales a:hover i {
  color: #2c88d9; }

footer {
  padding: 0.2px; }

footer .logoerland {
  /*Extend de Letra de Logo Erland*/
  margin: 2px;
  padding: 2px; }

footer .descripcion-derechos {
  text-align: center; }

/*components*/
/* Seccion pagina de inicio */
#presentacion-contenido {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/fondo-inicio.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh; }

#presentacion-contenido .presentacion {
  max-width: 1100px;
  color: #fff;
  margin: auto;
  height: 100vh; }

#presentacion-contenido .presentacion .bienvenida {
  letter-spacing: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase; }

#presentacion-contenido .presentacion h2 {
  font-size: 47px;
  margin-bottom: 25px;
  text-align: center; }

/*Extend de Letra de Logo Erland*/
#presentacion-contenido .presentacion h2 span {
  margin: 25px; }

#presentacion-contenido .presentacion .descripcion {
  text-align: center;
  max-width: 800px;
  margin: 25px;
  font-size: 20px; }

/*Extend de  boton contactar*/
/* Seccion Adaptable responsivo */
/* Adaptable responsivo pagina de Inicio h2 span y descripcion */
@media screen and (max-width: 768px) {
  #presentacion-contenido .presentacion h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center; }
  #presentacion-contenido .presentacion h2 span {
    font-size: 35px;
    margin-bottom: 20px; }
  #presentacion-contenido .presentacion .descripcion {
    margin: 20px;
    font-size: 18px; } }

/* Seccion sobrenosotros */
.sobrenosotros {
  padding: 100px 0; }

.sobrenosotros .contenido-seccion {
  max-width: 1100px;
  margin: auto; }

/*Extend de H3 */
/* Extend en letra en pagina Nosotros y Portfolio*/
.sobrenosotros .contenido-seccion p {
  line-height: 22px;
  margin-bottom: 50px; }

/* Seccion datos empresariales*/
.datos-empresariales .columna h4 {
  font-size: 23px;
  color: #2c88d9;
  margin-bottom: 25px;
  text-align: center; }

.columna {
  margin-bottom: 40px; }

.datos-empresariales .columna ul li strong {
  display: inline-block;
  color: #2c88d9;
  padding: 20px 0; }

.datos-empresariales .columna ul {
  list-style: none;
  text-align: center; }

/* Seccion intereses*/
.intereses .row .interes {
  background-color: #c3cfd9;
  padding: 20px;
  border-radius: 10px;
  border: 2px #2c88d9 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* margin: auto; */
  /* margin: 0px 15px 15px 0px; */
  align-items: center;
  transition: all 0.2s ease-in; }

.intereses h4 {
  font-size: 23px;
  color: #2c88d9;
  margin-bottom: 25px;
  text-align: center; }

.intereses .row .interes:hover {
  background-color: #fff;
  border: 2px #000 solid; }

.intereses .row .interes i {
  font-size: 35pX;
  margin-bottom: 10px;
  color: #2c88d9; }

.intereses .row .interes:hover i {
  color: #000; }

.intereses .row .interes span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #2c88d9; }

.intereses .row .interes:hover span {
  color: #000; }

.intereses .row .interes p {
  margin-bottom: 10px;
  color: #2c88d9; }

.intereses .row .interes:hover p {
  color: #000; }

/* Seccion Adaptable responsivo */
/* Adaptable responsivo pagina sobre nosotros datos-empresariales  */
@media screen and (max-width: 992px) {
  .datos-intereses .datos-empresariales-interes {
    text-align: center; } }

/* Seccion Servicios */
.servicios {
  padding: 100px 0; }

/*Extend de H3 */
.servicios img {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: block;
  transition: all 0.2s ease; }

.servicios-contenedor {
  margin-bottom: 40px; }

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0; }

.servicio {
  position: relative; }

.servicio:hover img {
  opacity: 0.2; }

.servicio:hover .overlay {
  opacity: 1; }

.overlay i {
  font-size: 60px;
  color: #000;
  margin: 10px; }

.overlay .iconos {
  display: flex; }

/* Seccion Adaptable responsivo */
/* Adaptable responsivo pagina servicios  iconos de github y crome  */
@media screen and (max-width: 576px) {
  .overlay i {
    font-size: 35px; }
  .overlay p {
    font-size: 16px; } }

/* Seccion portfolio */
.portfolio {
  padding: 100px 0; }

/*Extend de H3 */
.portfolio .carousel {
  max-width: 800px; }

.carousel-item {
  height: 500px; }

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.portfolio-imagen {
  margin: 10px 10px 20px 10px; }

/* Extend en letra en pagina Nosotros y Portfolio*/
.portfolio-texto {
  max-width: 70%; }

.portfolio-info {
  font-weight: bold;
  text-align: center; }

.portfolio-info p {
  margin-bottom: 0; }

.portfolio-info .cliente {
  font-size: 22px; }

.portfolio-info .cargo {
  font-size: 14px; }

/* Seccion Adaptable responsivo */
/* Adaptable responsivo pagina de portfolio carousel */
@media screen and (max-width: 576px) {
  .portfolio-texto {
    font-size: 16px; }
  .portfolio-info .cliente {
    font-size: 18px; }
  .portfolio-info .cargo {
    font-size: 12px; } }

/* Seccion Contacto */
.contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/fondocontacto.png");
  background-size: cover;
  color: #fff;
  padding: 100px 0;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.contacto .contenido-seccion {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
      margin: auto;
      align-items: center; */ }

/*Extend de H3 */
.contacto .contenido-seccion .fila {
  display: flex; }

.contacto .contenido-seccion .fila .col {
  width: 50%;
  padding: 10px;
  position: relative; }

.contacto .contenido-seccion .fila .col input, .contacto .contenido-seccion .fila .col textarea {
  display: block;
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  font-size: 18px; }

/*Extend de  boton contactar*/
.contacto .contenido-seccion .fila .col img {
  width: 100%; }

.contacto .contenido-seccion .fila .col .info {
  position: absolute;
  background-color: #000;
  padding: 20px;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.contacto .contenido-seccion .fila .col .info ul {
  list-style: none; }

.contacto .contenido-seccion .fila .col .info ul li {
  margin-bottom: 20px;
  font-size: 14px; }

.contacto .contenido-seccion .fila .col .info ul li i {
  color: #2c88d9;
  display: inline-block;
  margin-right: 5px; }

/* Seccion Adaptable responsivo */
/* Seccion responsivo pagina de contacto */
@media screen and (max-width: 768px) {
  .contacto .contenido-seccion .fila {
    display: block; }
  .contacto .contenido-seccion .fila .col {
    width: 100%; } }
