// Secion de footer
footer{
    padding: 0.2px;
}
footer .logoerland{
    font-size: 45px;
    color: rgb(44, 136, 217);
    font-family:  Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 2px;
    padding: 2px;
}
footer .descripcion-derechos{
    text-align: center;
}