/* Seccion encabezado */


/*Aplicando nesting*/
.navbar{
    padding: 0.5rem;
    background-color: $colorNavBar;
    .navbar-collapse{
      align-items: center;
      justify-content: space-between;
    }
  }
 
  .navbar .navbar-brand h1{
    color: $colorLetraLogo;
    font-family:  Haettenschweiler, sans-serif;
    letter-spacing: 2px;
    text-align: center;
  }



  /*Aplicando nesting*/

  .nav-item a{
    color: $colorLetraLogo;
    font-weight: 400;
    font-size: 20px;
    &:hover{
      color: $colorBlanco;
    }

  }


  /* Seccion encabezado iconos-redes-sociales */
  /*Aplicando nesting*/
  .iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid $colorBlanco;
    border-radius: 50%;

    &:hover{
      border: 2px solid $colorLetraLogo;

    }

  }
  .iconos-redes-sociales i{
    color: $colorBlanco;
    font-size: 1.2rem;
  }
 
  .iconos-redes-sociales a:hover i{
    color:$colorLetraLogo ;
  }
