/* Seccion sobrenosotros */
/*Aplicando Nesting*/
.sobrenosotros{
    padding: 100px 0;
   .contenido-seccion{
      max-width: 1100px;
      margin: auto;
    }
    
    
  }
  
  
  /*Mixin de H3 */
  .sobrenosotros .contenido-seccion h3{
    @include letraH3($colorLetraLogo);
  }

  /* Extend en letra en pagina Nosotros y Portfolio*/
  .sobrenosotros .contenido-seccion p{
    @extend %letraParrafoNosotrosPortfolio;
    line-height: 22px;
    margin-bottom: 50px;
    
  }
  
  /* Seccion datos empresariales*/

  /*Aplicando Nesting*/
  
  .columna {
    margin-bottom: 40px;
    h4{
      font-size: 23px;
      color: $colorLetraLogo;
      margin-bottom: 25px;
      text-align: center;
    }

  }


  
  /*Aplicando Nesting*/
  .datos-empresariales  .columna ul {
    list-style: none;
    text-align: center;
    li strong{
      display: inline-block;
      color: $colorLetraLogo;
      padding: 20px 0
    }
  }
  
  /* Seccion intereses*/
  
  .intereses .row .interes{
    background-color: $colorNavBar;
  
    padding: 20px;
    border-radius: 10px;
    border: 2px $colorLetraLogo solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin: auto; */
    /* margin: 0px 15px 15px 0px; */
    align-items: center;
    transition:  all 0.2s ease-in;
    
  }
  .intereses h4{
    font-size: 23px;
    color: $colorLetraLogo;
    margin-bottom: 25px;
    text-align: center;
  
  }
  
  .intereses .row .interes:hover {
    background-color: $colorBlanco;
    border: 2px $colorNegro solid;
    
  }
  .intereses .row .interes i{
    font-size: 35pX;
    margin-bottom: 10px;
    color: $colorLetraLogo; 
  }
  .intereses .row .interes:hover i{
    color: $colorNegro;
  
  }
  
  .intereses .row .interes span{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: $colorLetraLogo;
   
  }
  .intereses .row .interes:hover span{
    color: $colorNegro;
  
  }
  
  
  .intereses .row .interes p{
    margin-bottom: 10px;
    color: $colorLetraLogo;
   
  }
  .intereses .row .interes:hover p{
    color: $colorNegro;
  
  }
  
  /* Seccion Adaptable responsivo */

  /* Adaptable responsivo pagina sobre nosotros datos-empresariales  */
@media screen and (max-width:992px) {
  .datos-intereses .datos-empresariales-interes{
    text-align: center;
  }
  
}